services:
  client:
    build:
      context: ./client
      target: build
    container_name: client-container
    restart: unless-stopped
    ports:
      - "5173:5173"
      - "4173:4173"
    environment:
      - VITE_API_URL=http://localhost:4000
      - Environment=build
    depends_on:
      - server
  server:
    build:
      context: ./server
      target: production
    container_name: server-container
    restart: unless-stopped
    ports: 
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URL=mongodb://mongo-container:27017
      - Environment=production
    depends_on:
      - mongo-container
  mongo-container:
    image: mongo:latest
    container_name: mongo-container
    # No ports section needed here as both server and mongo-container are running on the same network (bridge By default created by dockercompose)!
    restart: unless-stopped
